{
	admin off
}

NODE_DOMAIN {
	root * /srv/web
	header Strict-Transport-Security "max-age=31536000; includeSubDomains"
	handle /x/* {
		reverse_proxy unix//var/run/remnawave/xray.sock
	}
	handle {
		encode zstd gzip
		try_files {path} /index.html
		file_server
	}
}
